@import "~bootstrap/less/bootstrap";
@import "~bootstrap-rtl/less/bootstrap-rtl";

html {
  position: relative;
  min-height: 100%;
  direction: ltr;
}

body {
  padding-top: 100px;
  direction: ltr;
  height: 100%;
}

.rbody {
  direction: rtl;
}
